PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_CMS_URL=https://cms.netmarket.it
PUBLIC_DEPLOY_ENV=local
CMS_API_BASE_URL=https://cms.netmarket.it/wp-json/
CMS_GRAPHQL_URL=https://cms.netmarket.it/graphql
CMS_BUILD_TOKEN=
CMS_BASIC_AUTH_USER=
CMS_BASIC_AUTH_PASSWORD=
PUBLIC_ANALYTICS_ENABLED=false
PUBLIC_GTM_ID=
PUBLIC_GOOGLE_MAPS_API_KEY=
PUBLIC_GOOGLE_PLACE_ID=
